<template>
  <div>
    <div class="card">
      <p class="card-text"> Welcome to the admin page, connected : {{socket.connected}} </p>
    </div>
    <br>
    <div class="row">
      <div class="col">
          <button @click="getAllRooms" class="btn btn-primary btn-block">Get all rooms</button>
      </div>
    </div>
  </div>

</template>

<script>
/* eslint-disable */

import io from 'socket.io-client';
export default {
  name: 'Admin',
  data () {
    return {
      socket : io('/admin')
    }
  },
  methods: {
      getAllRooms : function(e){
        this.socket.emit("get_all_rooms")
      }, 
  }
}
</script>